.pagination li {
  display: inline;
  list-style-type: none;
  padding: 8px 16px;
  margin: 8px;
  float: left;
  border-radius: 2px;
  border: 1px solid #334f8a;
}

.current-page {
  background-color: #334f8a;
  color: #fff;
}

.page {
  background-color: #fff;
  color: #334f8a;
}
