.friend {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  list-style: none !important;
  border: 1px solid #c1d3fe;
  margin-top: 10px;
  width: -webkit-fill-available;
  border-radius: 5px;
  background-color: #d7e3fc;
}
.name {
  flex: 4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
}

.action {
  border: 1px solid #abc4ff;
  padding: 5px;
  margin-right: 20px;
  background-color: #fff;
  border-radius: 5px;
}
