.friend {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  list-style: none !important;
  box-shadow: 0 2px 4px 0 hsl(198deg 45% 10% / 12%);
  margin-top: 10px;
  width: -webkit-fill-available;
  border-radius: 5px;
  background-color: #fff;
  align-items: center;
}
.name {
  display: flex;
  flex: 4;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
}

.action {
  padding: 5px;
  margin-right: 20px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #eaebec;
}
.friend-name {
  color: #2e3c42;
}
.favorite {
  padding-top: 5px;
  font-size: 0.7rem;
}
