.friends-list {
  padding: 0;
  width: -webkit-fill-available;
  margin-top: 10px;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.no-friends {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
.search-container {
  display: flex;
  width: 100%;
}
.disabled {
  background: #eaebec;
  opacity: 1;
  cursor: not-allowed;
}
