.form {
  width: 100%;
  display: flex;
}

.input {
  height: 30px;
  width: -webkit-fill-available;
  padding: 5px;
  border: 1px solid #abc4ff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
