* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #0e1e25 30%, #f7fcfc 30%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #646e73;
  font-size: 1rem;
  font-weight: 400;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  max-width: calc(100% - 25px);

  margin: auto;
}
