* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  background-color: #edf2fb96;
  color: #343a40;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  max-width: calc(100% - 25px);
  margin: auto;
}
