.form {
  display: flex;
}

.stretch {
  flex: 1;
}

.add {
  height: 30px;
  width: -webkit-fill-available;
  padding: 5px;
  border: 1px solid #abc4ff;
  border-radius: 5px;
  margin-bottom: 5px;
}
